 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/3795cdcf7ca388a9f5417835fff3bc7573a52deb8075f4284cb8ef2f6e1a33147d9b07195db253f104eff457db67fbdb6a0db48bfa11d759bef58e_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 530px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-family: Nunito;
  font-weight: 700;
  margin: 180px 277px 0 37px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 73px 277px 0 37px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: -150px 287px 60px 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 114px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 114px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 114px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 46px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -123px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 122px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 78px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -129px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 830px;
}

.u-section-2 .u-shape-1 {
  width: 353px;
  height: 417px;
  margin: 38px 283px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 380px;
  height: 380px;
  margin: -367px auto 0;
}

.u-section-2 .u-text-1 {
  font-family: Nunito;
  font-size: 2.625rem;
  width: 810px;
  font-weight: 700;
  margin: 55px auto 0;
}

.u-section-2 .u-text-2 {
  font-family: Nunito;
  width: 810px;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 187px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5625rem;
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin: 18px 15px 58px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 657px;
}

.u-section-3 .u-text-1 {
  font-family: Nunito;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 53px auto 0 148px;
}

.u-section-3 .u-text-2 {
  font-family: Nunito;
  width: 810px;
  margin: 9px 165px 0;
}

.u-section-3 .u-text-3 {
  font-family: Nunito;
  width: 810px;
  margin: 33px auto 0;
}

.u-section-3 .u-image-1 {
  width: 905px;
  height: 155px;
  margin: 24px auto 0;
}

.u-section-3 .u-text-4 {
  font-family: Nunito;
  width: 810px;
  margin: 20px 165px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-left: 65px;
    margin-right: 65px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 65px;
    margin-right: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 358px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-left: 235px;
    margin-right: 235px;
  }

  .u-section-3 .u-text-3 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 123px;
    margin-bottom: -71px;
    margin-left: 210px;
  }

  .u-section-3 .u-text-4 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5625rem;
    width: auto;
    margin-top: 38px;
    margin-left: 434px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 25px;
    margin-left: 315px;
    margin-right: 315px;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 92px;
    margin-top: 27px;
    margin-bottom: -59px;
    margin-left: 300px;
  }

  .u-section-3 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 41px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
    margin-top: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 58px;
    margin-top: 25px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 41px;
    margin-bottom: 53px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1016px;
}

.u-section-4 .u-text-1 {
  font-family: Nunito;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 54px auto 0 148px;
}

.u-section-4 .u-text-2 {
  font-family: Nunito;
  width: 810px;
  margin: 21px auto 0;
}

.u-section-4 .u-text-3 {
  font-family: Nunito;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 53px auto 0 148px;
}

.u-section-4 .u-text-4 {
  font-family: Nunito;
  width: 810px;
  margin: 21px auto 0;
}

.u-section-4 .u-image-1 {
  width: 601px;
  height: 347px;
  margin: 41px auto 0;
}

.u-section-4 .u-text-5 {
  font-family: Nunito;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 33px auto 0 157px;
}

.u-section-4 .u-text-6 {
  font-family: Nunito;
  margin: 21px 157px 60px 174px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-5 {
    margin-left: 148px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 65px;
    margin-right: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1094px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 52px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 40px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 157px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin: 33px 25px 48px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 963px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5625rem;
    width: auto;
    margin-top: 57px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5625rem;
    width: auto;
    margin-top: 42px;
    margin-left: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: 6px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 312px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5625rem;
    width: auto;
    margin-left: auto;
  }

  .u-section-4 .u-text-6 {
    margin: 21px 15px 42px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1202px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 47px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 23px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 54px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 16px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 23px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.25rem;
    margin-top: 78px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 54px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-5 .u-text-1 {
  font-family: Nunito;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 21px auto 0 148px;
}

.u-section-5 .u-text-2 {
  font-family: Nunito;
  width: 810px;
  margin: 21px auto 0;
}

.u-section-5 .u-text-3 {
  font-family: Nunito;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 53px auto 0 148px;
}

.u-section-5 .u-text-4 {
  font-family: Nunito;
  width: 810px;
  margin: 21px auto 0;
}

.u-section-5 .u-image-1 {
  width: 646px;
  height: 349px;
  margin: 10px auto 0;
}

.u-section-5 .u-text-5 {
  width: 810px;
  margin: 30px auto 0;
}

.u-section-5 .u-text-6 {
  font-family: Nunito;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 30px auto 0 157px;
}

.u-section-5 .u-text-7 {
  font-family: Nunito;
  margin: 21px 157px 38px 174px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    margin-top: 29px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 60px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 148px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 65px;
    margin-right: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1116px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 30px;
  }

  .u-section-5 .u-text-5 {
    width: 720px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 157px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1064px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5625rem;
  }

  .u-section-5 .u-text-2 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5625rem;
    width: auto;
    margin-top: 55px;
    margin-left: auto;
  }

  .u-section-5 .u-text-4 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 292px;
  }

  .u-section-5 .u-text-5 {
    width: 540px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.5625rem;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin: 22px 15px 48px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1154px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.25rem;
    margin-left: 93px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 184px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 39px;
    margin-left: auto;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 53px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 743px;
}

.u-section-6 .u-shape-1 {
  width: 570px;
  height: 245px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 0 0 auto;
}

.u-section-6 .u-shape-2 {
  width: 570px;
  height: 177px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -89px auto 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 987px;
  margin: -487px auto -94px;
}

.u-section-6 .u-image-1 {
  min-height: 553px;
  background-image: url("images/10f600f9a8bf19f533df9e7ccb6fdd480c173fbeb0c22fa608a0f0bafaa454c206bf656fff7858c004bd1da9ad01c454748d53b0ea975ad571d5a8_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 195px 0 0 20px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 553px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 50px 29px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-family: Nunito;
  margin: 61px 1px 0;
}

.u-section-6 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 21px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-6 .u-shape-1 {
    width: 470px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 843px;
  }

  .u-section-6 .u-image-1 {
    min-height: 527px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 527px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 991px;
  }

  .u-section-6 .u-shape-1 {
    width: 360px;
    margin-top: 55px;
  }

  .u-section-6 .u-shape-2 {
    margin-top: 83px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 510px;
    margin-top: -646px;
    margin-bottom: -86px;
  }

  .u-section-6 .u-image-1 {
    min-height: 450px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 395px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 986px;
  }

  .u-section-6 .u-shape-1 {
    width: 270px;
    margin-top: 234px;
  }

  .u-section-6 .u-shape-2 {
    width: 400px;
    height: 249px;
    margin-top: 138px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 450px;
    margin-top: -728px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-image-1 {
    min-height: 319px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 373px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 981px;
  }

  .u-section-6 .u-shape-1 {
    width: 170px;
    margin-top: 202px;
  }

  .u-section-6 .u-shape-2 {
    width: 263px;
    height: 207px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 270px;
    margin-top: -818px;
  }

  .u-section-6 .u-image-1 {
    min-height: 301px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 426px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 20px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 36px;
  }

  .u-section-6 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 13px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 331px;
}

.u-section-7 .u-text-1 {
  width: 803px;
  font-weight: 700;
  font-family: Nunito;
  margin: 60px auto 0;
}

.u-section-7 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  margin: 28px auto 60px;
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: 720px;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
    font-size: 0.75rem;
  }
}